- I18n.with_locale(@receiver.locale.to_sym) do
  = I18n.t('mailer.reservation.successfull', user_name: @reservation.user.full_name, post_title: @reservation.post.title)
  = link_to I18n.t('mailer.reservation.see_reservation'), profile_index_url
end