// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-img {
  width: 100%;
  transition: all .2s ease-in-out;
}

ul.post-list {
  .post-title {
    a {
      color: $app-blue-dark;
    }
  }

  .post-price {
    background-color: $app-blue-main;
    color: white;
    padding: 10px;
    width: 80px;
    border-radius: 0.25rem;
  }

  .post-image {
    width: 222px;
    height: 140px;
    border-radius: 0.25rem;
    object-fit: cover;
  }
}


.post-img:hover {
  // transform: scale(1.10);
  // transform: translate(0px, 5px);
}


.show-flex {
  width: 500px;
}

.message-container {
  max-width: 500px;
  max-height: 200px;
  overflow-y: auto;
}


.filter-title {
  margin: 5px 0px;
  background-color: white;
  padding: 5px 5px;
  font-weight: bold;
  border-radius: 5px;
}

.filter-content {
  select {
    width: 100%;
  }

  input[type='number'] {
    width: 100%;
  }

  .daterange {
    width: 100%;
  }

  .input-group-text {
    height: 34px;
  }
  .form-group {
    margin-bottom: 0;
  }
  .js-address-autofill {
    font-size: 14px
  }
}

.info-tag {
  font-size: 10px;
  margin: 5px 5px 0 0;
  overflow: hidden;
  float: left;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 0.25rem;
  height: 18px;

  span.left {
    padding: 1px 10px 2px 4px;
    margin: 0;
    color: gray;
    background-color: #fff;
  }

  span.right {
    padding: 1px 10px 2px 4px;
    margin-left: -3px;
    color: #FFF;
    background: #FFA500;
  }
}

.filters-search{
  padding: 5px;

  .filter-title {
    border-bottom: 1px solid #FFA500;
  }
}

.image-preview {
  overflow: hidden;
}

.post-form-container {
  .calendar-container {
    width: 100%;
  }

  .btn-generate {
    height: 35px;
    width: 200px;
  }
  .edit-actions {
    .btn-group {
      width: 100%;

      a {
        width: 100%;
      }

      button {
        border-radius: 0px;
        margin: 0px;
        width: 100%;
        transition: all .2s ease-in-out;
        span {
          float: left;
        }
      }

      button:hover {
        transform: scale(1.05);
      }
    }
  }
}

.posts-container {
  .upload-btn {
    width: 100%;
  }
}

.list-group-item {
  transition: all .2s ease-in-out;
}

.list-group-item:hover {
  transform: scale(1.02);
}

.scaled {
  transform: scale(1.05);
  background-color: #FFFCF7;
}


.post-show-container {
  .subtitle-container {
    margin-bottom: 25px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15) !important;
    padding: 10px;

    h5.subtitle {
    }

    hr {
      margin: 0px 0px 5px 0px;
    }

    .daterange{
      width: 100%;
    }
  }

  .flexslider{
    width: 100%;
  }

  .availability-from {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #googleMap {
    width: 100%;
    height: 300px;
  }

  .btn-edit {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius:50px;
  }

  .form-group {
    margin-bottom: 0px;
  }

  .daterange {
    background: white;
  }

  .picker-from, .picker-to {
    font-size: 14px;
  }

  p.price {
    transition: all .2s ease-in-out;
    background-color: $app-blue-main;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 0;
    .fa {
      color: white;
      margin-right: 10px;
    }
  }

  p.price:hover {
    transform: scale(1.05);
    background: $app-blue-light;
    color: $app-blue-dark;

    .fa {
      color: $app-blue-dark;
    }
  }

  .main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    p {
      padding: 15px;
      margin-top: 1rem;
      i {
        padding-right: 5px;
        color: #323E5F;
        font-size: 1.33333em;
      }
    }
  }

}

#searchMap{
  width: 100%;
  height: 300px;
  //position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index:100;
}


.checked-filter {
  width: 10px;
  height: 10px;
  background: orange;
  float: right;
  vertical-align: middle;
  margin: 6px 6px 0px 0px;
}

.js-refresh-filter {
  transition: all .2s ease-in-out;
}

@media only screen and (max-width: 1000px) {
  .availability-from {
    display: block !important;
    .form-group {
      width: 100%;
      input {
        text-align: center;
      }
    }
  }
}

