// Place all the styles related to the reservation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.confirm-reservation-container {
  p.confirm-text {
    font-size: 30px;
  }

  .reservation-image {
    width: 100%;
  }

  .guest-user-container {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: $app-blue-light;

    .field {
      margin-bottom: 10px;

      label {
        display: block;
      }

      input {
        height: 40px;
        border-radius: 8px;
        border: 1px solid $app-blue-light;
        width: 100%;
        padding-left: 10px;
      }
    }
  }
}