@import 'custom/colors';
@import 'home';
@import 'posts';
@import 'messages';
@import 'conversations';
@import 'profile';
@import 'datatable';
@import 'navbar';
@import 'direct_upload';

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.container {
  padding-top: 20px;
  min-height: 75vh;
}

.page-footer {
  background-color: #3579F6;
  width: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.w-200 {
  width: 200px !important;
}

.w-300 {
  width: 300px !important;
}

.w-115 {
  width: 115px !important;
}

.m-r-sm {
  margin-right: 20px;
}

.img-circle {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  object-fit: cover;
}

.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: absolute; /* Position the badge within the relatively positioned button */
  bottom: 0;
  right: 0;
}


.gray-bg {
  background-color: #ededed;
}

.btn-search {
  background: #323E5F;
  width: 200px;
  color: white;
}

.btn-search:hover {
  background: $app-blue-light !important;
  color: $app-blue-dark;
}

.btn-app {
  background: $app-blue-main;
  color: white;
}

.btn-app:hover {
  background: $app-blue-light;
  color: black;
}

.btn-red {
  background: red;
  color: white;
}

.btn-red:hover {
  background: darkred;
  color: white;
}

.btn-orange:hover {
  background: #FFA500;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.light-blue-bg {
  background: #CFDBE1;
  color: black;
}