@import 'home';
@import 'posts';

body {
  background: #f2f2f2;
}

.container {
  padding-top: 20px;
  min-height: 75vh;
}

.navbar {
  background-color: #3579F6 !important;
  padding: 5px 100px;

}

.page-footer {
  background-color: #3579F6;
  width: 100%;
}
.right {
  float: right;
}

.left {
  float: left;
}

.w-200 {
  width: 300px;
}

.w-300 {
  width: 300px;
}

.m-r-sm {
  margin-right: 20px;
}

.img-circle {
  border-radius: 50%;
  width: 40px;
}

.nav-link:hover {
  background-color: darkblue;
  color: white !important;
}